.main-logo{
    position: relative;
    top: 150px;
    left: 500px;
}

#Search{
    position: relative;
    top: 150px;
    left: 450px;
    width: 30%;
}

nav{
    text-align: right;
    vertical-align: text-top;
    margin-top: -6px;
}

.navigation{
    display: inline;
    margin: 3px;
}

#profile-image{
    vertical-align: middle;
    border-radius: 50%;
}

#menu-image{
    vertical-align: middle;
}

nav a{
    font-size: small;
    text-decoration: none;
    color: black;
}

footer a{
    font-size: small;
    text-decoration: none;
    color: grey;
}

footer{
    position: relative;
    top: 380px;
    padding: 25px;
    background-color: #f2f2f2;
    color: grey;
}

li.footer{
    display: inline;
}

.footer-left{
    position: absolute;
    bottom: 0;
    left: 0;
}

li{
    margin: 8px;
}

.footer-right{
    position: absolute;
    bottom: 0;
    right: 0;
}