.main-logo {
    position: absolute;
    top: 150px;
    left: 500px;
}

#Search {
    position: absolute;
    top: 270px;
    left: 399px;
    width: 30%;
    border-radius: 25px;
    height: 30px;
    width: 500px;
    border: 1px solid grey;
}

nav {
    text-align: right;
    vertical-align: text-top;
    margin-top: -13px;
}

.navigation {
    display: inline;
    margin: 5px;
}

#profile-image {
    vertical-align: middle;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-top: 7.8px;
}

#menu-image {
    vertical-align: middle;
    margin-top: 7.8px;
    height: 25px;
    width: 25px;
}

nav a {
    font-size: small;
    text-decoration: none;
    color: black;
}

/* footer {
    position: relative;
    top: 540px;
    padding: 32px 0;
    background-color: #f2f2f2;
} */

footer {
    /* display: flex; */
    /* align-items: flex-end; */
    background-color: #f2f2f2;
    /* padding: 0.006em; */

    /* background-color: #eeeeee; */
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    margin-right: 10px;
}
.right-footer {
    /* align-self: flex-end; */
    margin-left: 20px;
}

.left-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 7px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    
}

footer a {
    font-size: small;
    text-decoration: none;
    color: grey;
}

/* 
.footer-left {
    position: absolute;
    bottom: 0;
    left: 0;
} */

li {
    margin: 8px;
    display: inline;
}

/* .footer-right {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
} */

.buttons {
    position: absolute;
    top: 310px;
    left: 540px;
}

.Search-btn, .Feeling-lucky-btn {
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    height: 35px;
    border-radius: 9%;
}

.Search-btn {
    margin-right: 10px;
}

html,body {
    margin:0;
    padding:0;
}

#mic-icon{
    position: absolute;
    left: 870px;
    top: 269px;
    z-index: 2;
}

#search-icon{
    position: absolute;
    top: 269px;
    left: 410px;
    z-index: 2;
}